---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Acerca De la Pagina">
  <h1 class="text-white">Sobre La Pagina</h1>
  <p class="text-white">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet possimus vel corporis, necessitatibus quaerat doloremque hic tenetur recusandae assumenda voluptates fugit saepe accusantium! Minus id et debitis repudiandae consectetur earum.</p>
</Layout>